.linksNoDecoration {
  color: inherit;
  text-decoration: inherit;
}

.dotSeparator {
  position: relative;
}

.dotSeparator::before {
  content: "";
  position: relative;
  padding: 1.5px;
  background-color: currentColor;
  margin: 0 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.pageWrapper {
  margin-top: 15px;
  min-height: calc(100vh - 99px);
  display: flex;
  flex-direction: column;
}

.pageContent {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

/* styles.css (or any other global styling file) */

button {
  text-decoration: none !important;
  text-transform: none !important;
}

@media only screen and (min-width: 600px) {
  .pageWrapper {
    margin-left: 55px;
  }
}

@media only screen and (min-width: 1000px) {
  .pageWrapper {
    margin-top: 35px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f98d67;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* glass effect */
.glass {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
